@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: black;
}
.dropdown:hover > .dropdown-content {
	display: block;
}

.hero-bg{
     background-image: url('/src/assets/stacked-steps-haikei.png');
  background-size: cover;
  background-position: center;
}

.gradient-bg{
    background: linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 0, 1) 0%, rgba(76, 114, 227, 1) 0%, rgba(30, 59, 92, 1) 100%);
}
.section-bg{
    background: linear-gradient(0deg, rgba(8, 8, 8, 1) 0%, rgba(8, 8, 8, 1) 0%, rgba(0, 17, 34, 1) 100%);
}